# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

backrefs
bz2
User/Package Control.last-run
User/Package Control.ca-list
User/Package Control.ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.cache/
User/Package Control.ca-certs/